/*** CSS Reset ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /*
  Remove list styles (bullets/numbers) in case you use it with normalize.css */ ol, ul { list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

body {
  font-family: "Montserrat";
  border: 0px;
  margin: 0px;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}
/*** CSS Reset ***/

.doom-monitor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1105px;
}

.doom-game {
  position: absolute;
  top: 124px;
  width: 830px;
  height: 630px;
  left: 50%;
  transform: translateX(-50%);
}

.doom-game embed {
  display: inline-block;
  width: 830px;
  height: 630px;
}

.doom-game embed::before {
  content: "";
  display: block;
  padding-top: 70%;
  background: black;
  border-top-left-radius: 30px 100%;
  border-top-right-radius: 30px 100%;
  border-bottom-right-radius: 100% 30px;
  border-bottom-left-radius: 100% 30px;
}
